
// custom components sass starts


// two column information table starts
.two-column-table {
    max-width: 600px;
    .legend {
        top: -0.8rem;
        left: 1rem;
        padding: 0 0.5rem;
    }
    
    .row {
        margin: 0;
    }
    
    .row:hover {
        background-color: #f3f3f3;
    }
    
    .col {
        
    }
    
    .one {
        
    }
    
    .two {
        
    }
}
// two column information table ends



// profile-content starts
#profile {
    .field {
        .info {
            border: 1px solid transparent;
            .iconn {
                visibility: hidden;
            }
        }
        .info:hover {
            border: 1px solid $border-color;
            border-radius: 3px;
            box-shadow: $box-shadow-sm;
            .iconn {
                visibility: visible;
            }
        }
    }
}
// profile-content ends
// custom components sass ends