@import "../bootstrap-4.3.1/scss/_functions.scss";
@import "../bootstrap-4.3.1/scss/_variables.scss";
@import "../bootstrap-4.3.1/scss/_mixins.scss";


// custom utilites sass starts
.s-box-up-md {
    @media (min-width: 767px) {
        box-shadow: $box-shadow-lg;
        transition: all 0.3s ease;
        border-color: $border-color;
        border-radius: $border-radius-lg;
        padding: 20px;
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    z-index: -100;
}

// custom utilites sass ends