
.-parent {
    margin-top: 100px;
    border: 1px solid red;
    margin-left: 10px;
    margin-right: 10px;
    
}


.-parent .-left {
    display: inline-block;
    width: 300px;
}


.-parent .-right {
    display: inline-block;
    
    
}






.-sec-parent {
    margin-top: 50px;
    border: 1px solid green;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.-clearfix {
    content: '';
    display: table;
    clear: right;
}

.-sec-parent .-left {
    float: left;
    width: 70%;
}

.-sec-parent .-right {
    float: right;
    width: 280%;
}